@model FSPACERFINAL.Models.ActiveSearchModel
@{
    ViewData["Title"] = "SearchActive";
}

<h2>Search Active Cards</h2>
<br/>
<br/>

<form asp-controller="SpacerCards" asp-action="SearchActiveOutputs" method="post">
    @*<div class="form-group">
        <label asp-for="SearchActiveCards"></label>
        <input asp-for="SearchActiveCards" type="text" class="form-control" />
    </div>*@
    <input type="submit" value="Click here to View the Active Cards"  class="btn btn-primary btn-lg btn-block"/><br />
</form>

